{% extends 'base.html' %}



{% block content %}
<p>{{user.username}}</p>
<p>{{user.email}}</p>
<p>{{user.role}}</p>
<p> <img class="" src="{{ image_file }}"></p>
{% if current_user.role == 'freelancer' and user.role != 'freelancer' %}
<form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputFile">File input</label>
        <input type="file" name="inputFile">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endif %}
{% if current_user.role == 'client' and user.role != 'client' %}
<button><a href="/download">Download file</a></button>
<br>
<br>
<p>Pay down payment</p>
<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_26oMIqspO59QBct1Muv8ZVwE"
    data-amount=""
    data-name="Hustle"
    data-description="Checkout"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
<br>
<p>Pay full amount</p>
<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_26oMIqspO59QBct1Muv8ZVwE"
    data-amount=""
    data-name="Hustle"
    data-description="Checkout"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>

{% endif %}


{% endblock %}

