{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id='reg' >

  
  <div class="card" id="dh">
      <div class="card-header"> 
        <h1><strong>Sign Up</strong></h1>
      </div>
  </div>
  <div class="row justify-content-center align-items-center">
    
    <div class="col-md-3"> </div>
    <div class="d-flex  text-white">
    <div class="col-md-8" id='reg-form' >
        <div class="p-3" id="frm">{{wtf.quick_form(registration_form)}}</div>
    </div>
  </div>
  <div class="col-md-1"> </div>
  </div>
</div>

{% endblock%}