.container-fluid{
    width:32%;
    margin: auto;
    padding: 50px;
    height:850px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-top: 1%;
}
.btn.btn-success{
    margin-left: 30%;
    margin-top: 30%;
    padding-right: 10%;
    padding-left: 10%;
}
