.DOWNLOAD{
  height:240px;
  width: 400px;
  margin-left: auto;
  margin-top: 5em;
  text-align: centre;
  margin-right: auto;

}
#download_key{
  width:200px;
  margin-left: 52px;
  width: 280px;
  margin-top: 20px;
  text-align: centre;

}
.form-control-label{
  font-size: 20px;
  text-align: center;
  margin-left: 80px;
  margin-top: 20px;
}
.btn.btn-primary{
  margin-left: 140px;
  margin-top: 20px;
  text-align: center;


}
.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   height:240px;
}
.col-md-6{
  text-align: centre;
}
.nvb{
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255);
    text-decoration-line: none;
    padding-right: 10px;
    font-weight: bold;
}
#nv{
    background-color: rgba(78, 78, 78, 0.219)
}

.navbar-brand{
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255);
    font-weight: bold;
}