.cot{
    margin: auto;
    width: 27%;
    padding: 50px;
    height:558px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}
.btn.btn-primary{
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
  padding-right: 60px;
  text-align: center;
}
