#reg{
    min-height: 800px;
    /* background-color:#1d2124; */
    text-align: center;
    color: white;
    
}
body{
    background-color:#ffffff;
    /* background-image: url("./regimg.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#reg-form{
    text-align: center;
    font-size: 16px;
    
}
#frm{
    margin: auto;
    width: 400px;
    padding: 50px;
    height:558px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.d-flex{
    width: 800px;
}

#dh{
    font-size: 32px;
    background-color: rgba(172, 171, 171, 0.068);
    margin-bottom: 40px;
}
