{% extends 'base.html' %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}


<!-- Content block -->
{% block content %}

<title> {{ title }} </title>


<div class="container-fluid">


  <div class="card" id="jm" style="width:100%">



    <div class="card-header">
      <h1><a href="/"> HUSTLE</a></h1></div>
    <p class="card-text">Welcome to hustle</p>

    <div class="card-body">
      <input type="text" name="search" placeholder="Search on the website">
    </div>


  </div>


  <div><a href="{{url_for('main.view_jobs', category='Web_development')}}">Web development</a></div>
  <div><a href="{{url_for('main.view_jobs', category='App_development')}}">App development</a></div>
  <div><a href="{{url_for('main.view_jobs', category='Content_Management_Systems')}}">Content management system</a></div>
  <div><a href="{{url_for('main.view_jobs', category='E_Commerce')}}">E-Commerce</a></div>

  <button data-toggle="collapse" data-target="#demo">About</button>

  <div id="demo" class="collapse">
    Lorem ipsum dolor text....

  </div>




</div>
        <div class="footer">
            <div class="row">
                <div class="col-md-4"><p>HustleInc Contacts</p></div>
                <div class="col-md-4"><p><span><i class="fas fa-envelope"></i></span>admin@hustle.com</p></div>
                <div class="col-md-4"><p><span><i class="fas fa-phone-square"></i></span>0712345678</p></div>
            </div>
        </div>



{% endblock %}
