{% extends 'base.html' %} 
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!-- Content block -->
{% block content %}

<title> {{ title }} </title>



    
        <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                        <img class="lpo img-fluid" src="{{url_for('static',filename='css/test8.jpg')}}">
                        <div class="carousel-caption">
                          <h2>Granting the community's wishes at the best price.</h2>
                        </div>
                    </div>
                  <div class="carousel-item">
                        <img class="lpo img-fluid" src="{{url_for('static',filename='css/test7.jpeg')}}">
                        <div class="carousel-caption">
                            <h2>Granting the community's wishes at the best price.</h2>
                          </div>
                    </div>
                  <div class="carousel-item">
                        <img class="lpo img-fluid" src="{{url_for('static',filename='css/test11.jpg')}}">
                        <div class="carousel-caption">
                            <h2>Granting the community's wishes at the best price.</h2>
                          </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div> 

<div class="container-fluid">
  <div class="card" id="cthd">
        <div class="card-body"><h2>Categories</h2></div>
    </div>
  <div class="card-deck">
        <div class="card "><a href="{{url_for('main.view_jobs', category='Web_development')}}">
            <img class="card-img-top" src="../static/css/jm.jpeg" alt="Card image">
          <div class="card-body cbc  card-img-overlay">
            <p class="card-text"><div><strong>Web development</strong></div></p>
          </div>
        </a></div>
        <div class="card "><a href="{{url_for('main.view_jobs', category='App_development')}}">
            <img class="card-img-top" src="../static/css/webdev3.jpg" alt="Card image">
          <div class="card-body cbc card-img-overlay">
            <p class="card-text"><div><strong>App development</strong></div></p>
          </div>
        </a></div>
        <div class="card"><a href="{{url_for('main.view_jobs', category='Content_Management_Systems')}}">
            <img class="card-img-top" src="../static/css/cat1.jpg" alt="Card image">
          <div class="card-body cbc card-img-overlay">
            <p class="card-text"><div><strong>Content management system</strong></div></p>
          </div>
        </a></div>
        <div class="card "><a href="{{url_for('main.view_jobs', category='E_Commerce')}}">
            <img class="card-img-top" src="../static/css/cat2.jpg" alt="Card image">
          <div class="card-body cbc card-img-overlay">
            <p class="card-text"><div><strong>E-Commerce</strong></div></p>
          </div>
        </a></div> 
      </div>
    
 
<div class="abtc">
          <h3>About us</h3>
        </div>
          <div id="tba">
          <div class="card" >
            <div id="abt" >
             <p>Just a few days ago, we embarked on journey to brain storm an idea to make the average kenyan youth make a coin from an online site in the comfort their homes. Have you been asked what you do for a living and didn't know what to say? Are you so busy that you couldn't complete some research? Have you been surfing the net for something to bring food on the table ?</p>
                <p><strong>WE ARE HERE TO HELP</strong></p>
            <p>With just internet access and a computer, You are able to earn from our site. While there are many freelancing providers, we are here to offer a unique feature that has not been provided before. As a client, you are able to choose from the bids placed by freelancers who understands your topic better, fits your budget and meets your expectations</p>
            <p>Try us and see what we have to offer..</p>
          </div>
        </div>
        </div>
      </div>
    </div>


</div>


{% endblock %}