{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


<!-- Content block -->
{% block content %}

<title> {{ title }} </title>


    <div class="container-fluid">
        
       
        
        <div class="card" id="jm" style="width:100%" >
            
            
                
                <div class="card-header"><h1><a href="/"> HUSTLE</a></h1></div>
                <p class="card-text">Welcome to hustle</p>
                {% if current_user.role == 'freelancer' %}
                <a href="{{url_for('main.view_jobs')}}" class="btn btn-primary">View jobs</a>
                {% endif %}
                
                    <div class="card-body">
                        <input type="text" name="search" placeholder="Search on the website">
                    </div> 

            
        </div>
        
       
        <h3>Job Categories</h3>
        <div class="card-deck">
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <p class="card-text">Some text inside the first card</p>
                  </div>
                </div>
                <div class="card bg-warning">
                  <div class="card-body text-center">
                    <p class="card-text">Some text inside the second card</p>
                  </div>
                </div>
                <div class="card bg-success">
                  <div class="card-body text-center">
                    <p class="card-text">Some text inside the third card</p>
                  </div>
                </div>
                <div class="card bg-danger">
                  <div class="card-body text-center">
                    <p class="card-text">Some text inside the fourth card</p>
                  </div>
                </div> 
              </div>

              <button data-toggle="collapse" data-target="#demo">About</button>

                <div id="demo" class="collapse">
                    Lorem ipsum dolor text....
                
                </div>
        
     
        </div>
            
{% endblock %}
   