{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid">
    <h1>{{job.title}}</h1>
    <p>{{job.description}}</p>
    <small class="text-muted">{{ job.date_posted.strftime('%Y-%m-%d')}}</small>
    <p>{{job.duration}}</p>
    <p>{{job.technologies}}</p>
    <p>{{job.user.username}}</p>

    {% if current_user.role == 'freelancer' %}
    {{wtf.quick_form(bid_form)}}
    {% endif %}

    <div>
        {% if job.user == current_user %}
        {%for bid in bids %}
        <div class="panel">
            <p>{{bid.user.username}} bid:</p>
            <p> &nbsp; {{bid.cost}} $</p>
            <p>{{bid.description}}</p>
            <a href="{{url_for('main.bid', bids_id=bid.id)}}">&nbsp; <button class="btn">View bid</button></a>
        </div>
        {%endfor%}
        {% endif %}
    </div>
</div>
{% endblock%}


