{% extends 'base.html' %}

<!-- Content block -->
{% block content %}


<div class="container-fluid">
 {% if current_user.role == 'freelancer' %}
 {%for job in jobs %}
 <h1><a href="{{url_for('main.view_job', jobs_id=job.id)}}">{{job.title}}</a></h1>
 <p>{{job.description}}</p>
 <small class="text-muted">{{ job.date_posted.strftime('%Y-%m-%d')}}</small>
 <p>{{job.duration}}</p>
 <p>{{job.technologies}}</p>
 <p><a href="{{url_for('main.view_account', user_id=job.user.id)}}"> {{job.user.username}}</a></p>
 {% endfor%}
 {% endif %}

</div>


{% endblock %}

