{% extends 'base.html' %}

<!-- Navbar block -->
{% block navbar %}
<div class="container-fluid">

  <div class="navbar navbar-inverse fixed-top" role="navigation">

    

      <div class="navbar-header">

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

        <a href="/" class="navbar-brand">Hustlers base</a>

      </div>

      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="{{url_for('auth.register')}}">register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="#">PostBid</a>
          </li>
          <a href="/logout">log out</a>
        </li>
        <li>
          <a href="{{url_for('main.post_job')}}">post</a>
        </li>

        </ul>



      </div>

    

  </div>
  {% endblock %}
