{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/postjob.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %} 
{% block content %}
<div class="container-fluid" id="postjobcnt">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="card">
      <div class="col-md-6">

        {{wtf.quick_form(job_form)}}

      </div>

    </div>
    <div class="col-md-3">
    </div>

  </div>
</div>

{% endblock%}